/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
    --gold: #D5966C;
    --almost-black: #151515;
    --dark-grey: #444444;
    --font-shoulders: 'Big Shoulders Display', cursive;
    --font-outfit: 'Outfit', sans-serif;
}

/*=============== REUSABLE CLASSES ===============*/
.heading-xl {
    font-size: 60px;
    font-weight: 900;
    line-height: 55px;
}

.heading-lg {
    font-size: 50px;
    font-weight: 900;
    line-height: 45px;
}

.heading-md {
    font-size: 50px;
    font-weight: 900;
    line-height: 45px;
}

.heading-sm {
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
}

.body-md {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    font-family: var(--font-outfit);
}

.btn {
    width: 100%;
    height: 72px;

    display: flex;
    align-items: center;
    margin-top: 12px;
}

.btn button {
    width: 204px;
    height: 100%;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--almost-black);
    color: #FFF;
    font-family: var(--font-shoulders);
    transition: background .3s;
    cursor: pointer;
}

.btn .btn__icon {
    background-color: var(--gold);
    width: 56px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .3s;
    cursor: pointer;
}

.btn:hover > button {
    background-color: var(--gold);
}

.btn:hover .btn__icon {
    background-color: var(--almost-black);
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 80px 15px;
}



@media screen and (min-width: 768px) {
    .heading-xl {
        font-size: 70px;
        font-weight: 900;
        line-height: 65px;
    }

    .heading-lg {
        font-size: 55px;
        font-weight: 900;
        line-height: 50px;
    }
    
}

@media screen and (min-width: 1024px) {
    .heading-xl {
        font-size: 96px;
        font-weight: 900;
        line-height: 88px;
    }

    .heading-lg {
        font-size: 70px;
        font-weight: 900;
        line-height: 70px;
    }

    .heading-md {
        font-size: 60px;
        font-weight: 900;
        line-height: 60px;
    }

    .heading-sm {
        font-size: 36px;
        font-weight: 900;
        line-height: 36px;
    }

    .body-md {
        font-size: 22px;
        line-height: 32px;
    }
}

/*=============== GLOBAL ===============*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-shoulders);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*=============== HERO SECTION ===============*/
.hero {
    display: flex;
    flex-direction: column;
}

.hero__pattern {
    display: none;
}

.hero__img .hero__img--mobile {
    width: 100%;
    height: 240px;
}

.hero__img .hero__img--tablet,
.hero__img .hero__img--desktop {
    display: none;
}

.hero .hero__content {
    background-color: #FFF;
    padding: 15px;
}

.hero .hero__content h1 {
    text-transform: uppercase;
    max-width: 280px;
    margin: 30px 0px;
}

.hero .hero__content p {
    color: var(--dark-grey);
}

@media screen and (min-width: 768px) {
    .hero {
        flex-direction: row;
    }

    .hero__img .hero__img--mobile {
        display: none;
    }

    .hero__img .hero__img--tablet {
        display: block;
        height: 700px;
    }

    .hero__content {
        position: relative;
        width: 50%;
    }
    
    .hero__content--container {
        position: absolute;
        top: 150px;
        left: -80px;
    }

    .hero__content .hero__content--container h1 {
        max-width: 500px;
    }

    .hero__content .hero__content--container .btn {
        margin-top: 35px;
    }
}

@media screen and (min-width: 1024px) {
    .hero .hero__pattern {
        display: block;
        position: relative;
        background-color: var(--almost-black); 
        width: 450px;
        height: 800px;
    }

    .hero__pattern .pattern__heading {
        text-transform: uppercase;
        color: #FFF;
        position: absolute;
        top: 250px;
        left: 70px;
        width: 500px;
    }

    .hero__pattern .pattern__heading span {
        mix-blend-mode: difference;
    }
    
    .hero .hero__img .hero__img--tablet {
        display: none;
    }

    .hero .hero__img .hero__img--desktop {
        display: block;
        height: 800px;
    }

    .hero__content .hero__content--container {
        top: 250px;
        left: -50px;
    }

    .hero__content .hero__content--container h1 {
        display: none;
    }

    .hero__content .hero__content--container p {
        max-width: 350px;
    }
}

/*=============== ABOUT SECTION ===============*/
.about {
    display: flex;
    flex-direction: column;
}

.about .about__img .about__img--mobile {
    width: 100%;
    height: 320px;
}

.about .about__img .about__img--tablet {
    display: none;
}

.about .about__img .about__img--desktop {
    display: none;
}

.about .about__content {
    background-color: #FFF;
    margin-top: 45px;
}

.about .about__content h2 {
    text-transform: uppercase;
    font-family: var(--font-shoulders);
    font-weight: 800;
}

.about .about__content p {
    font-family: var(--font-outfit);
    line-height: 28px;
}


@media screen and (min-width: 768px) {
    .about {
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    .about .about__img .about__img--mobile {
        display: none;
    }

    .about .about__img .about__img--tablet {
        display: block;
        height: 400px;
    }

    .about .about__content {
        max-width: 223px;
    }
}

@media screen and (min-width: 1200px) {
    .about {
        justify-content: space-between;
    }
    .about .about__img .about__img--tablet {
        display: none;
    }
    .about .about__img .about__img--desktop {
        display: block;
        height: 400px;
    }

    .about .about__content {
        max-width: 350px;
    }

    .about .about__content h2 {
        margin-bottom: 40px;
    }

    .about .about__content h2 br {
        display: none;
    }

    .about .about__content p {
        line-height: 32px;
        font-size: 22px;
    }
}

/*=============== GALLERY SECTION ===============*/
.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.gallery .gallery__large .gallery__img--1 {
    display: block;
    width: 100%;
    height: 480px;
    margin-bottom: 30px;
}

.gallery .gallery__grid .gallery__img--2 {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.gallery .gallery__grid .gallery__content {
    background-color: var(--almost-black);
    height: 293px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.gallery .gallery__grid .gallery__content h2 {
    font-family: var(--font-shoulders);
    text-transform: uppercase;
    margin-bottom: 8px;
}

.gallery .gallery__grid .gallery__content p {
    font-family: var(--font-outfit);
}

.gallery .gallery__grid .gallery__content h2,
.gallery .gallery__grid .gallery__content p
{
    color: #FFF;
}

@media screen and (min-width: 768px) {
    .gallery {
        flex-direction: row;
    }

    .gallery .gallery__grid {
        margin-left: 20px;
    }

    .gallery .gallery__large .gallery__img--1 {
        height: 720px;
        margin-right: 12px;
    }

    .gallery .gallery__grid .gallery__img--2 {
        width: 360px;
        height: 313px;
    }

    .gallery .gallery__grid .gallery__content {
        width: 360px;
        height: 396px;
        padding: 0;
    }

    .gallery .gallery__grid .gallery__content h2,
    .gallery .gallery__grid .gallery__content p {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .gallery .gallery__large .gallery__img--1 {
        width: 635px;
    }

    .gallery .gallery__grid .gallery__img--2 {
        width: 445px;
    }

    .gallery .gallery__grid .gallery__content {
        width: 445px;
    }
}


/*=============== LOCATIONS PAGE ===============*/

/* Map Section */
.map {
    background-image: url("../assets/mobile/image-map@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.map .btn {
    margin-top: 0px;
}

@media screen and (min-width: 768px) {
    .map {
        width: 100%;
        height: 600px;
        background-image: url("../assets/tablet/image-map@2x.png");
        overflow-x: hidden;
    }

    .map .btn {
        margin-left: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .map {
        background-image: url("../assets/desktop/image-map@2x.png");
        /* height: 600px; */
    }

    .map .btn {
        margin-left: 150px;
    }
}

/* Locations Section */
.location {
    background-color: var(--almost-black);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.location h1 {
    color: #FFF;
    text-transform: uppercase;
    padding: 30px 0;
}

.location .location__address h3 {
    color: var(--gold);
    text-transform: uppercase;
}

.location .location__address .location__address--list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.location .location__address .location__address--list,
.location .location__address p {
    font-family: var(--font-outfit);
    color:  #FFF;
    font-size: 18px;
    line-height: 28px;
}

@media screen and (min-width: 768px) {
    .location {
        flex-direction: row;
        justify-content: space-around;
        padding: 60px 0;
    }

    .location .location__address {
        width: 300px;
    }

    .location h1 {
        max-width: 200px;
    }
}

@media screen and (min-width: 1024px) {
    .location .location__address {
        width: 600px;
    }

    .location .location__address .location__address--list,
    .location .location__address p {
        font-size: 22px;
        line-height: 32px;
    }
}

/*=============== FOOTER ===============*/
.footer {
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
}

.footer h3 {
    text-transform: uppercase;
    font-size: 22px;
}

.footer ul {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 0;
}

.footer p {
    font-family: var(--font-outfit);
    line-height: 26px;
}

/* Dark Footer */
.footer.footer--dark {
    background-color: var(--almost-black);
}

.footer.footer--dark h3,
.footer.footer--dark p,
.footer.footer--dark ul
{
    color: #FFF;
}

.footer.footer--dark a:hover .icon {
    fill: var(--gold);
    transition: all .3s ease-in-out;
}

/* Gold Footer */
.footer.footer--gold {
    background-color: var(--gold);
}

.footer.footer--gold h3,
.footer.footer--gold p,
.footer.footer--gold ul
{
    color: var(--almost-black);
}

.footer.footer--dark a .icon {
    fill: var(--almost-black);
    transition: all .3s ease-in-out;
}

.footer.footer--gold a:hover .icon {
    fill: #FFF;
    transition: all .3s ease-in-out;
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
    }

    .footer .footer__logo {
        width: 20%;
    }

    .footer .footer__logo h3 {
        margin-top: 20px;
    }

    .footer p {
        width: 300px;
        margin-left: 30px;
    }

    .footer__social {
        width: 50%;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        align-items: flex-start;
        padding: 60px;
    }

    .footer__logo h3 {
        font-size: 40px;
    }

    .footer .footer__logo h3 {
        margin-top: 10px;
    }

    .footer p {
        width: 380px;
    }
}