/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
    --gold: #D5966C;
    --almost-black: #151515;
    --dark-grey: #444444;
    --font-shoulders: 'Big Shoulders Display', cursive;
    --font-outfit: 'Outfit', sans-serif;
}

/*=============== REUSABLE CLASSES ===============*/
.heading-xl {
    font-size: 60px;
    font-weight: 900;
    line-height: 55px;
}

.heading-lg {
    font-size: 50px;
    font-weight: 900;
    line-height: 45px;
}

.heading-md {
    font-size: 50px;
    font-weight: 900;
    line-height: 45px;
}

.heading-sm {
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
}

.body-md {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    font-family: var(--font-outfit);
}

.btn {
    width: 100%;
    height: 72px;

    display: flex;
    align-items: center;
    margin-top: 12px;
}

.btn button {
    width: 204px;
    height: 100%;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--almost-black);
    color: #FFF;
    font-family: var(--font-shoulders);
    transition: background .3s;
    cursor: pointer;
}

.btn .btn__icon {
    background-color: var(--gold);
    width: 56px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .3s;
    cursor: pointer;
}

.btn:hover > button {
    background-color: var(--gold);
}

.btn:hover .btn__icon {
    background-color: var(--almost-black);
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 80px 15px;
}



@media screen and (min-width: 768px) {
    .heading-xl {
        font-size: 70px;
        font-weight: 900;
        line-height: 65px;
    }

    .heading-lg {
        font-size: 55px;
        font-weight: 900;
        line-height: 50px;
    }
    
}

@media screen and (min-width: 1024px) {
    .heading-xl {
        font-size: 96px;
        font-weight: 900;
        line-height: 88px;
    }

    .heading-lg {
        font-size: 70px;
        font-weight: 900;
        line-height: 70px;
    }

    .heading-md {
        font-size: 60px;
        font-weight: 900;
        line-height: 60px;
    }

    .heading-sm {
        font-size: 36px;
        font-weight: 900;
        line-height: 36px;
    }

    .body-md {
        font-size: 22px;
        line-height: 32px;
    }
}

/*=============== GLOBAL ===============*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-shoulders);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*=============== HERO SECTION ===============*/
.hero {
    display: flex;
    flex-direction: column;
}

.hero__pattern {
    display: none;
}

.hero__img .hero__img--mobile {
    width: 100%;
    height: 240px;
}

.hero__img .hero__img--tablet,
.hero__img .hero__img--desktop {
    display: none;
}

.hero .hero__content {
    background-color: #FFF;
    padding: 15px;
}

.hero .hero__content h1 {
    text-transform: uppercase;
    max-width: 280px;
    margin: 30px 0px;
}

.hero .hero__content p {
    color: var(--dark-grey);
}

@media screen and (min-width: 768px) {
    .hero {
        flex-direction: row;
    }

    .hero__img .hero__img--mobile {
        display: none;
    }

    .hero__img .hero__img--tablet {
        display: block;
        height: 700px;
    }

    .hero__content {
        position: relative;
        width: 50%;
    }
    
    .hero__content--container {
        position: absolute;
        top: 150px;
        left: -80px;
    }

    .hero__content .hero__content--container h1 {
        max-width: 500px;
    }

    .hero__content .hero__content--container .btn {
        margin-top: 35px;
    }
}

@media screen and (min-width: 1024px) {
    .hero .hero__pattern {
        display: block;
        position: relative;
        background-color: var(--almost-black); 
        width: 450px;
        height: 800px;
    }

    .hero__pattern .pattern__heading {
        text-transform: uppercase;
        color: #FFF;
        position: absolute;
        top: 250px;
        left: 70px;
        width: 500px;
    }

    .hero__pattern .pattern__heading span {
        mix-blend-mode: difference;
    }
    
    .hero .hero__img .hero__img--tablet {
        display: none;
    }

    .hero .hero__img .hero__img--desktop {
        display: block;
        height: 800px;
    }

    .hero__content .hero__content--container {
        top: 250px;
        left: -50px;
    }

    .hero__content .hero__content--container h1 {
        display: none;
    }

    .hero__content .hero__content--container p {
        max-width: 350px;
    }
}

/*=============== ABOUT SECTION ===============*/
.about {
    display: flex;
    flex-direction: column;
}

.about .about__img .about__img--mobile {
    width: 100%;
    height: 320px;
}

.about .about__img .about__img--tablet {
    display: none;
}

.about .about__img .about__img--desktop {
    display: none;
}

.about .about__content {
    background-color: #FFF;
    margin-top: 45px;
}

.about .about__content h2 {
    text-transform: uppercase;
    font-family: var(--font-shoulders);
    font-weight: 800;
}

.about .about__content p {
    font-family: var(--font-outfit);
    line-height: 28px;
}


@media screen and (min-width: 768px) {
    .about {
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    .about .about__img .about__img--mobile {
        display: none;
    }

    .about .about__img .about__img--tablet {
        display: block;
        height: 400px;
    }

    .about .about__content {
        max-width: 223px;
    }
}

@media screen and (min-width: 1200px) {
    .about {
        justify-content: space-between;
    }
    .about .about__img .about__img--tablet {
        display: none;
    }
    .about .about__img .about__img--desktop {
        display: block;
        height: 400px;
    }

    .about .about__content {
        max-width: 350px;
    }

    .about .about__content h2 {
        margin-bottom: 40px;
    }

    .about .about__content h2 br {
        display: none;
    }

    .about .about__content p {
        line-height: 32px;
        font-size: 22px;
    }
}
